<div class="clearfix">
  <%= link_to "一覧", live_houses_path, class: "top_text btn btn-lg btn-light" %>
  <%= link_to "新規情報投稿", new_live_house_path, class: "top_text btn btn-lg btn-light"  %>
  <%= link_to "検索", live_houses_path, class: "top_text btn btn-lg btn-light" %>
</div>
