.big_font {
  font-size: 10px;
}

.small_font {
  font-size: 5px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-50 {
  padding-right: 50;
}

.pl-50 {
  padding-left: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}
