$white:      #fff;
$darkblack:  #2a2a2a;
$black:      #333;
$lightblack: #656565;
$darkgray:   #888;
$gray:       #dedede;
$lightgray:  #f9f9f9;
$red:        #f00;
$pink:       #f64e83;
$blue:       #109ad7;
$lightblue:  #edf7f9;
$gold:       #dbb400;
$silver:     #c9caca;
$copper:     #c08d5e;
$youtube:    #ff0;
$twitter:    #1da1f2;

.gold {
  color: $gold;
}

.silver {
  color: $silver;
}

.copper {
  color: $copper;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.gray {
  color: $gray;
}

.black {
  color: $black;
}

.lightblack {
  color: $lightblack;
}
