@import 'color';

html, body, header, footer, input,label, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
  //英字折返し
  word-wrap: break-word;
  overflow-wrap: break-word;
}

footer {
  width: 100%;
  display: inline-block;
  height: 5vh;
  text-align: center;
}

header {
  width: 100%;
  display: inline-block;
  height: 10vh;
}


.full_screen_container {
  width: 100%;
  height: 100vh;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}


.block {
  display: block;
  padding-top: 1px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.mt_250 {
  margin-top: 250px;
}
