<header class="b">
  <div>
    <ul class="clearfix">
      <%= link_to(root_path) do %>
        <div class="header_logo">
          <%= image_tag 'logo_big.png', :class =>'logo_t'%>
        </div>
      <% end %>
      <li><%= link_to "通報一覧", sign_in_path %></li>
      <li><%= link_to "検索", live_houses_path %></li>
    </ul>
  </div>
</header>
