<div class="flash_message_danger">
  <% if flash[:danger] %>
    <div class="flash">
      <%= flash[:danger] %>
    </div>
    <% end %>
</div>

<div class="flash_message_success">
  <% if flash[:success] %>
    <div class="flash">
      <%= flash[:success] %>
    </div>
  <% end %>
</div>
