
  <% if flash[:danger] %>
    <div class="flash flash_message_danger">
      <%= flash[:danger] %>
    </div>
    <% end %>

  <% if flash[:success] %>
    <div class="flash flash_message_success">
      <%= flash[:success] %>
    </div>
  <% end %>
