<header>
  <div>
    <ul>
      <li><%= link_to "top",root_path %></li>
      <li><%= link_to "ログイン", sign_in_path %></li>
      <li><%= link_to "新規登録", sign_up_path %></li>
      <li><%= link_to "検索", '#'%></li>
    </ul>
  </div>
</header>
