<header class="b">
  <div>
    <ul>
      <li><%= link_to "top",root_path %></li>
      <li><%= link_to "マイページ", sign_in_path %></li>
      <li><%= link_to "新しい箱の登録", sign_up_path %></li>
      <li><%= link_to "検索", '#'%></li>
    </ul>
  </div>
</header>
