<header class="b">
  <div>
    <ul>
      <%= link_to "top",root_path %>
      <%= link_to "マイページ", sign_in_path %>
      <%= link_to "新しい箱の登録", sign_up_path %>
      <%= link_to "検索", '#'%>
    </ul>
  </div>
</header>
